.home-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.todo-form {
   height: 30%;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background-color: wheat;
}

.form-input {
    display: flex;
    width: 500px;
    height: 50px;
    /* background-color: white; */
    /* padding: 5px; */
}

.todo-input-name {
    border: 0px;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 80%;
    font-size: 23px;
    padding: 0 7px;
}
.todo-input-button {
    border: 0px;
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 20%;
    font-size: 20px;
    padding: 0 7px;
    background-color: rgb(199, 192, 192);
    cursor: pointer;
}

.todo-items {
    height: 70%;
    background-color: peru;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.list {
    background-color: white;
    /* position: relative; */
    /* bottom: 50px; */
    width: 700px;
    height: 100%;
    /* border: 0px;
    border-radius: 10px; */
    /* padding: 10px 7px; */
}

.item-heading {
    display: flex;
    justify-content:space-between;
    background-color: white;
    border: 0px;
    border-radius: 10px 10px 0 0;
    position: relative;
    bottom: 50px;
    padding: 15px;
}

.item-heading p {
    font-size: 20px;
    font-weight: bold;
}
.item-heading button {
    font-size: 20px;
    border: 0;
    background-color: white;
    cursor: pointer;
}
.item-list {
    background-color: whitesmoke;
    position: relative;
    bottom: 50px;
    width: 100%;
    height: 100%;
    overflow:scroll;
}

.list-single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    background-color: #ece4e4;
    border: 0px;
    border-radius: 7px;
    width: 100%;
}

.item-text-show {
    width: 500px;
    margin: 10px;
    overflow-y: hidden;
}
.item-text-hide {
    width: 500px;
    margin: 10px;
    overflow-y: hidden;
    text-decoration: line-through;
}
.list-single-item button {
    padding: 7px;
    border: 0;
    margin: 0 5px 0 0;
    border-radius: 5px;
    width: 70px;
    font-weight: bold;
    background-color: rgb(199, 192, 192);
    cursor: pointer;
}